.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.welcome {
  height: 750px;
  width: 750px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 100% 100%;
}

.list {
  font-size: 30px;
  list-style: none;
  line-height: 1.5;
}

.list code {
  background: #f7f7f7;
}
